{
  "parser"  : "babel-eslint",
  "extends" : [
    "standard",
    "standard-react"
  ],
  "env": {
    "browser": true
  },
  "globals": {
    "__DEV__": false,
     "__PROD__": false,
     "NODE_ENV": false
  },
  "rules": {
    "semi": [2, "always"]
  }
}
